<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wira | Freelance Developer</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <nav>
    <h2>Wira Ahmad Fauzi</h2>
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <button id="darkToggle" class="dark-toggle">
      🌙
    </button>

  </nav>

  <section class="hero">
  <div class="hero-grid">
    
    <div class="hero-text">
      <p class="intro">Hello, I’m</p>
      <h1>
        Wira<br>
        Freelance Developer
      </h1>
      <p class="subtitle">
        I build modern web and mobile applications that solve real problems,
        with a strong focus on clean design and solid backend logic.
      </p>

      <div class="hero-actions">
        <a href="/portfolio" class="primary-btn">View Portfolio</a>
        <a href="/about" class="secondary-btn">About Me</a>
      </div>
    </div>

    <div class="hero-image">
      <img src="/static/images/wira suit.jpg" alt="Wira portrait">
    </div>

  </div>
</section>

  <footer>
    © 2026 Wira. Built with code & curiosity.
  </footer>
<script src="/static/js/theme.js"></script>
</body>
</html>
