<!DOCTYPE html>
<html>
<head>
  <title>Portfolio | Wira</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav>
  <h2>Wira Ahmad Fauzi</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <button id="darkToggle" class="dark-toggle">
      🌙
    </button>
</nav>

<section class="portfolio">
  <h1>My Work</h1>
  <div id="projects"></div>
</section>

<script src="/static/js/portfolio.js"></script>
  <footer>
    © 2026 Wira. Built with code & curiosity.
  </footer>
<script src="/static/js/theme.js"></script>  
</body>
</html>
